/* Set the margin, padding, and box-sizing for all elements */
*,html,body{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}  
  /* CSS styles for the body */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7dfd8;
  }

  /* CSS styles for the header */
  header{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #dbcec2;
    padding: 10px;
    z-index: 100; /* set a high z-index to ensure it is on top of other elements */
    font-family: 'Sawarabi Gothic', sans-serif;
    border-bottom: 2px solid rgb(105, 80, 80);
}

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .menu{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 15px;
  }


  .menu ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    
  }
  .menu ul li a{
      color: #0F192D;
      font-size: 34px;

      
  }
  .menu ul li a:hover{
    color: #896e55;
    text-decoration: none;  
  }


  .login {
    position: absolute;
    top: 70px;
    right: 30px;
  }
  .login a{
    text-decoration: none;
    color: #0F192D;
    font-size: 34px;
}
  .login a:hover{
    color: #896e55;
    text-decoration: none;  
  }

  .dropbtn{
    text-decoration: none; 
    color: #0F192D;
    font-size: 34px;  
    border: none;
    cursor: pointer;
    background-color: #dbcec2;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: #333;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    background-color: #b19b86;
    border-radius: 0.25em;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fce6d2;
  }
  /* styles for the menu ended */
/* CSS styles for the text */
.text {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}

/* CSS styles for the form */
.input-container {
  display: flex;
}


/* CSS styles for the song name input field */
.song-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  border-radius: 150px;
  border: 3px solid#665647;
  border-radius: 1500px;
  font-size: 30px;
  padding: 10px;
  margin-left: 30px;
  background-color: #fdf8f3;
}


.song-name::placeholder {
  color: #665647;
}


/* CSS styles for the author name input field */
.author-name::placeholder {
  color: #665647;
}

.author-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  border-radius: 150px;
  border: 3px solid#665647;
  border-radius: 1500px;
  font-size: 30px;
  padding: 10px;
  margin-left: 30px;
  background-color: #fdf8f3;
}


/* CSS styles for the submit button */
input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 25px 50px;
  border-radius: 5px;
  border: none;
  background-color: #c7a589;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: auto;
  transition: all 0.9s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
input[type="submit"]:hover{
background-color: rgb(182, 161, 98);

}

/* CSS styles for the text below input fields('Instruments') */
.text-below-inputs {
  display: block;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}


/* CSS styles for the options */
.options-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 25px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* CSS styles for the radio */
.option input[type="radio"]{
  accent-color: #665647;
  color: #896e55;
  height: 20px;
  width: 20px;
}

/* CSS styles for the tabs */
.tabs-option{
  margin-bottom: 20px;
  text-align: center;
  display: block;
}


.tabs-option label{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}
.tabs-option input[type="checkbox"] {
  accent-color: #665647;
  color: #896e55;
  height: 20px;
  width: 20px;
}

.input-container {
  display: flex;
}

/* CSS styles for the textarea */
.textarea {
  vertical-align: top;
  margin-bottom: 20px;
  width: 780px;
  height: 300px;
  padding: 10px;
  font-size: 18px;
  border: 3px solid #665647;
  border-radius: 10px;
}

.login {
  position: absolute;
  top: 70px;
  right: 30px;
}
.login a{
  text-decoration: none;
  color: #0F192D;
  font-size: 34px;
}
.login a:hover{
  color: #896e55;
  text-decoration: none;  
}

.dropbtn{
  text-decoration: none; 
  color: #0F192D;
  font-size: 34px;  
  border: none;
  cursor: pointer;
  background-color: #dbcec2;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  display: block;
  background-color: #b19b86;
  border-radius: 0.25em;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fce6d2;
}

@media all and (max-width: 500px){
    header{
      width: 100%;
      height: 100px;
      text-align: center;
      background-color: #dbcec2;
      padding: 10px;
      z-index: 100;
      font-family: 'Sawarabi Gothic', sans-serif;
      border-bottom: 2px solid rgb(105, 80, 80);
    }
    .logo-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      top: 10px;
    }


    .menu ul li{
      display: inline-block;
      padding: 7px;
      margin-right: 10px;
      
    }
    .menu ul li a{
        color: #0F192D;
        font-size: 18px;

        
    }
    .menu ul li a:hover{
      color: #896e55;
      text-decoration: none;  
    }
    .login {
      position: absolute;
      top: 1px;
      right: 5px;
    }
    .login a{
      text-decoration: none;
      color: #0F192D;
      font-size: 13px;
    }

    .dropbtn{
      text-decoration: none; 
      color: #0F192D;
      font-size: 13px;  
      border: none;
      cursor: pointer;
      background-color: #dbcec2;
    }

    /* Style the links inside the dropdown */
    .dropdown-content a {
      color: #333;
      padding: 5px;
      font-size: 13px;
      text-decoration: none;
      display: block;
      background-color: #b19b86;
      border-radius: 0.25em;
      
    }
      /* CSS styles for the text */
    .text {
      font-size: 30px;
    }

    .form-container{
      display:flex;
      align-items: center;
    }
    .song-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 35px;
      margin-top: 10px;
      margin-bottom: 10px;
      flex-direction: column;
      border-radius: 15px;
      border: 3px solid#665647;
      border-radius: 35px;
      font-size: 16px;
      padding: 5px;
      margin-left: 15px;
      background-color: #fdf8f3;
    }
    
    
    .song-name::placeholder {
      color: #665647;
    }
    
    
    /* CSS styles for the author name input field */
    .author-name::placeholder {
      color: #665647;
    }
    
    .author-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 35px;
      margin-top: 10px;
      margin-bottom: 10px;
      flex-direction: column;
      border-radius: 15px;
      border: 3px solid#665647;
      border-radius: 35px;
      font-size: 16px;
      padding: 5px;
      margin-right: 10px;
      background-color: #fdf8f3;
    }
    
    
    /* CSS styles for the submit button */
    input[type="submit"] {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      padding: 25px 50px;
      border-radius: 5px;
      border: none;
      background-color: #c7a589;
      color: #fff;
      cursor: pointer;
      bottom: 20px;
      left: 10px;
      left: auto;
      transition: all 0.9s;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    input[type="submit"]:hover{
    background-color: rgb(182, 161, 98);
    
    }
    
    /* CSS styles for the text below input fields('Instruments') */
    .text-below-inputs {
      display: block;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 2px;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
    }
    
    
    /* CSS styles for the options */
    .options-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      margin-bottom: 25px;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }
    
    /* CSS styles for the radio */
    .option input[type="radio"]{
      accent-color: #665647;
      color: #896e55;
      height: 15px;
      width: 15px;
    }
    
    /* CSS styles for the tabs */
    .tabs-option{
      margin-bottom: 20px;
      text-align: center;
      display: block;
    }
    
    
    .tabs-option label{
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    
    }
    .tabs-option input[type="checkbox"] {
      accent-color: #665647;
      color: #896e55;
      height: 15px;
      width: 15px;
    }
    
    .input-container {
      display: flex;
    }
    
    /* CSS styles for the textarea */
    .textarea {
      vertical-align: top;
      margin-bottom: 20px;
      margin: 10px;
      width: 90%;
      height: 300px;
      padding: 10px;
      font-size: 18px;
      border: 3px solid #665647;
      border-radius: 10px;
    }
  
}