/* font family is added */
*,html,body{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}  
  
  /* CSS styles for the body */
  body {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #e7dfd8;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 50px;
  }
  .container b{
    font-size: 20px;
    /* font-family: 'Sawarabi Gothic', sans-serif; */
    
  }
  
  h1, p {
    text-align: center;

  }
  
  /* desired spacing for input fields */
  input {
    margin: 0.25em 0em 1em 0em;
  }

  /* more styles added to beautify the input fields */
input {
    margin: 0.25em 0em 1em 0em;
    outline: none;
    padding: 0.5em;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 0.25em;
    color: black;
  }

  /* styles for button */
button {
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #69523d;
    color: white;
    border-radius: 0.25em;
    font-size: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 400; */
  }
  
  /* hover functionality for button */
  button:hover {
    cursor: pointer;
    background-color: #5b4734;
  }
.login{
    margin-top: 15px;

}