*,html,body{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}  
  
  /* CSS styles for the body */
  body {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #e7dfd8;
  }

  /* styles for menu started */
  header{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #dbcec2;
    padding: 10px;
    z-index: 100;
    font-family: 'Sawarabi Gothic', sans-serif;
    border-bottom: 2px solid rgb(105, 80, 80);
}


.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .menu{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 15px;
  }


  .menu ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    
  }
  .menu ul li a{
      color: #0F192D;
      font-size: 34px;

      
  }
  .menu ul li a:hover{
    color: #896e55;
    text-decoration: none;  
  }


  .login {
    position: absolute;
    top: 70px;
    right: 30px;
  }
  .login a{
    text-decoration: none;
    color: #0F192D;
    font-size: 34px;
}
  .login a:hover{
    color: #896e55;
    text-decoration: none;  
  }

  .dropbtn{
    text-decoration: none; 
    color: #0F192D;
    font-size: 34px;  
    border: none;
    cursor: pointer;
    background-color: #dbcec2;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: #333;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    background-color: #b19b86;
    border-radius: 0.25em;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fce6d2;
  }
  /* menu styles ended */

  /* styles for search bar  */
.searching{
    width: 100%;
    height: 90px;
    border-bottom: 2px solid rgb(105, 80, 80);
    display: block;

}
  .search{
    width: 100%;
    position: absolute;
    display: flex;

  }

/* style for input line */
  .searchTerm {
    width: 100%;
    border: 3px solid#5b4734;
    border-right: none;
    padding: 5px;
    height: 51px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 25px;
    color: #c7b7a8;
  }

  .searchTerm:focus{
    color: #867b6f;
  }

/* style for search button (used fontAwesome for serch icon)*/
  .searchButton {
    width: 52px;
    height: 51px;
    border: 1px solid #5b4734;
    background: #5b4734;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 30px;
  }

  .wrap-search{
    width: 30%;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sawarabi Gothic', sans-serif;
  }

.song_choice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* styles for filters (Instruments + Chords/Tabs) */
.filters{
    display: flex;
    width: 25%;
    height: auto;
    min-height: 100vh;
    background-color: #F4EDE7;
    padding: 10px;

}
#filter{
    float: left;
    font-size: 30px;
    font-family: 'Sawarabi Gothic', sans-serif;

}
.filters p{
  padding-top: 10px;
  font-size: 25px;
  padding-right: 5px;
}
label{
    display: block;
}
/* style for size and position of checkbox */
#filter input[type="checkbox"] {
    transform: scale(1.5);
    vertical-align: middle;
    margin-right: 10px;
}

/* styles for variants of songs that is going to occure */
.content{
    width: 75%;
    padding: 10px;
    border-left: 2px solid rgb(105, 80, 80);
    display: block;
    justify-content: center;

}
.song {
    display: flex;
    padding: 30px;
    width: 70%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #D4B79B;
    border-radius: 30px;
}
.content p{
  margin-top: 40px;
  text-align: center;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

.song-name a{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Sawarabi Gothic', sans-serif;
    overflow: hidden;

}

.song-info{
  font-size: 20px;
  font-weight: 100;
  color: black;
  font-family: 'Sawarabi Gothic', sans-serif;
  padding: 10px;
  text-align: right;
}

/* style for button (comented due to changed design) */
/* .button{
    width: 50px;
    height: 50px;
    background: #D4B79B;
    text-align: center;
    cursor: pointer;
    border: 1px solid #D4B79B;
    border-radius: 10px;

} */

.login {
  position: absolute;
  top: 70px;
  right: 30px;
}
.login a{
  text-decoration: none;
  color: #0F192D;
  font-size: 34px;
}
.login a:hover{
  color: #896e55;
  text-decoration: none;  
}

.dropbtn{
  text-decoration: none; 
  color: #0F192D;
  font-size: 34px;  
  border: none;
  cursor: pointer;
  background-color: #dbcec2;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  display: block;
  background-color: #b19b86;
  border-radius: 0.25em;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fce6d2;
}


.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination-btn p{
  font-size: 40px;
}
.pagination-btn a.btn,
.pagination-btn p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #D4B79B;
  color: black;
  margin: 5px;
  border-radius: 15px;
}

.pagination-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 100%;
  height: 100%;
}

.pagination-btn a.btn:hover {
  background-color: #bea287;
}

@media all and (max-width: 500px){

    header{
      width: 100%;
      height: 100px;
      text-align: center;
      background-color: #dbcec2;
      padding: 10px;
      z-index: 100;
      font-family: 'Sawarabi Gothic', sans-serif;
      border-bottom: 2px solid rgb(105, 80, 80);
    }
    .logo-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      top: 10px;
    }


    .menu ul li{
      display: inline-block;
      padding: 7px;
      margin-right: 10px;
      
    }
    .menu ul li a{
        color: #0F192D;
        font-size: 18px;

        
    }
    .menu ul li a:hover{
      color: #896e55;
      text-decoration: none;  
    }


  

    /* styles for search bar  */
    .searching{
      width: 100%;
      height: 45px;
      border-bottom: 2px solid rgb(105, 80, 80);
      display: block;

  }
    .search{
      width: 100%;
      position: absolute;
      display: flex;

    }

  /* style for input line */
    .searchTerm {
      width: 100%;
      border: 3px solid#5b4734;
      border-right: none;
      padding: 5px;
      height: 31px;
      border-radius: 5px 0 0 5px;
      outline: none;
      font-size: 14px;
      color: #c7b7a8;
    }

    .searchTerm:focus{
      color: #867b6f;
    }

  /* style for search button (used fontAwesome for serch icon)*/
    .searchButton {
      width: 32px;
      height: 31px;
      border: 1px solid #5b4734;
      background: #5b4734;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 16px;
    }

    .wrap-search{
      width: 60%;
      position: absolute;
      top: 105px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Sawarabi Gothic', sans-serif;
    }

  .song_choice{
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
  }

  /* styles for filters (Instruments + Chords/Tabs) */
  .filters{
      display: flex;
      width: 25%;
      height: auto;
      min-height: 100vh;
      background-color: #F4EDE7;
      padding: 5px;

  }
  #filter{
      float: left;
      font-size: 12px;
      font-family: 'Sawarabi Gothic', sans-serif;

  }
  label{
      display: block;
  }
  /* style for size and position of checkbox */
  #filter input[type="checkbox"] {
      transform: scale(1);
      vertical-align: middle;
      margin-right: 5px;
  }

  .filters p{
    padding-top: 5px;
    font-size: 10px;
  }
  /* styles for variants of songs that is going to occure */
  .content{
      width: 75%;
      padding: 5px;
      border-left: 2px solid rgb(105, 80, 80);
      display: block;
      justify-content: center;

  }
  .song {
      display: flex;
      padding: 13px;
      width: 80%;
      min-height: 100px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      margin-top: 40px;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      background-color: #D4B79B;
      border-radius: 20px;
  }
  .content p{
    margin-top: 40px;
    text-align: center;
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
  }

  .song-name a{
      text-align: center;
      color: black;
      font-size: 13px;
      font-family: 'Sawarabi Gothic', sans-serif;
      overflow: hidden;

  }

  .song-info{
    font-size: 10px;
    font-weight: 100;
    color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 5px;
    text-align: right;
  }

  .login {
    position: absolute;
    top: 1px;
    right: 5px;
  }
  .login a{
    text-decoration: none;
    color: #0F192D;
    font-size: 13px;
  }
  .login a:hover{
    color: #896e55;
    text-decoration: none;  
  }

  .dropbtn{
    text-decoration: none; 
    color: #0F192D;
    font-size: 13px;  
    border: none;
    cursor: pointer;
    background-color: #dbcec2;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: #333;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    display: block;
    background-color: #b19b86;
    border-radius: 0.25em;
    
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fce6d2;
  }



}
@media all and (max-width: 330px){

  header{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #dbcec2;
    padding: 5px;
    z-index: 100;
    font-family: 'Sawarabi Gothic', sans-serif;
    border-bottom: 2px solid rgb(105, 80, 80);
  }
  .logo-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: 10px;
  }


  .menu ul li{
    padding: 5px;
    margin-right: 5px;
    
  }
  .menu ul li a{
      font-size: 15px;

      
  }

#filter{
    font-size: 10px;

}

/* style for size and position of checkbox */
#filter input[type="checkbox"] {
    transform: scale(0.85);
}

.song {
    padding: 8px;
    margin-top: 30px;

}
.content p{
  margin-top: 30px;
  font-size: 7px;

}



}


@media only screen and (max-width: 480px) {

  /* adjust header height and top margin for smaller screens */
  header {
    height: 100px;
    top: 0;
  }

  /* adjust logo size for smaller screens */
  .logo-image {
    width: 60px;
    height: 60px;
    top: 10px;
  }

  /* adjust font size for menu items and login link */
  .menu ul li a, .login a {
    font-size: 20px;
  }

  /* adjust search bar position */
  .wrap-search {
    top: 105px;
  }

  /* adjust font size for buttons */
  .btn {
    font-size: 30px;
  }

}