<!DOCTYPE html>
<html>
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>About us</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
  </head>
  <body>
    <header>
      <nav>
  <div class="wrap">
    <div class="menu">
      <ul>
        <li><a href="#">ABOUT US</a> </li>
        <li><a href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
        <li><a href="{{ url_for('create') }}">CREATE!</a> </li>
      </ul>


    </div>
  </div>

  </nav>
  </header>

    <div class="logo"></div>
    <div class="text">
      <p><b>Note</b> -- a project for amateur and professional musicians, who want to learn how to play new songs on different instruments or write their own intead!<br /> 
      <br /> 
      To write a new song, click on the 'create' and fill up information about the song (and, of course, add text to it), after that click on the button 'Submit' and voila!<br /> 
      <br /> 
      To find a new song, click on the logo and choose whether you want to find a specific song or a variety of them, but on the specific instrument. You also have opportunity to shorten your search results by selecting more filters.<br /> 
      <br /> 
      Enjoy!</p>
    </div>

    <div class="our-team"><h2>Our team</h2></div>

    <div class="team">
      <div class="member">
          <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Photo" class="photo">

        <div class="member-info">
          <h3>Olenka Azarova</h3>
          <p>1st year student of the Computer Science program in UCU.<br />
            <br />
            <cite>
              UCU's newest addition: the Azarova Algorithm!
            </cite>
          </p>
        </div>
      </div>


      <div class="member">
          <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Photo" class="photo">

        <div class="member-info">
          <h3>Nastia Pelekh</h3>
          <p>1st year student of the Computer Science program in UCU.<br />
            <br />
            <cite>
              Nastia's code is like a fine wine - it only gets better with time and debugging.
            </cite>
          </p>
        </div>
      </div>
  
      <div class="member">
          <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Photo" class="photo">

        <div class="member-info">
          <h3>Sofia Shuliak</h3>
          <p>1st year student of IT and Business Analytics program in UCU.<br />
            <br />
            <cite>
              I heard Sofia can analyze any business plan in just five minutes - four and a half of which are spent on making sure her coffee is perfectly brewed!
            </cite>
          </p>
        </div>
      </div>
  
      <div class="member">
          <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Photo" class="photo">

        <div class="member-info">
          <h3>David Ilnytskyy</h3>
          <p>1st year student of the Computer Science program in UCU.<br />
            <br />
            <cite>
              I heard David's code is so efficient that it compiles before he even writes it.
            </cite>
          </p>

        </div>
      </div>

      <div class="member">
          <img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Photo" class="photo">

        <div class="member-info">
          <h3>Vitalik Paliychuk</h3>
          <p>1st year student of IT and Business Analytics program in UCU.<br />
            <br />
            <cite>
            Why did the computer go to the doctor? Because Vitalik gave it a virus!
          </cite>
          </p>
        </div>
      </div>
      




    </div>
       
    
  </body>
</html>