<!DOCTYPE html>
<html>
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>create</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
  </head>
  <body>
    <header>
          <nav>
      <div class="wrap">
        <div class="menu">
          <ul>
            <li><a href="{{ url_for('about') }}">ABOUT US</a> </li>
            <li><a href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
            <li><a href="#">CREATE!</a> </li>
          </ul>


        </div>
      </div>
      </nav>
    </header>
    <div class="text">Add song!</div>

    <div class="form-container">
        <form action="{{ url_for('create') }}" method="POST">
            <div class="input-container">
                <input type="text" name='song_name' class='song-name' placeholder="Song name..."><br>
                <input type="text" name = 'author_name' class='author-name' placeholder="Author name..."><br>
                <input type="submit" value="Submit">
            </div>
        

    <div class="text-below-inputs">Choose instrument:</div>


    <div class="options-container">
        <div class="option">
            <button class="option-button" name='instr' value='guitar' id="option1">Guitar</button>
        </div>
        <div class="option">
            <button class="option-button" name='instr' value='ukulele' id="option2">Ukulele</button>
        </div>
        <div class="option">
            <button class="option-button" name='instr' value='piano' id="option3">Piano</button>
        </div>
        <div class="option">
            <button class="option-button" name='instr' value='drums' id="option4">Drums</button>
        </div>
        <div class="option">
            <button class="option-button" name='instr' value='kalimba' id="option5">Kalimba</button>
        </div>
    </div>
    
    <div class="input-container">
        <textarea class="textarea" name = "song_text" placeholder="Enter your text here..."></textarea>
    </div>
  </form>
  </div>

    <script>

        const optionButtons = document.querySelectorAll('.option-button');
        const submitButton = document.querySelector('input[type="submit"]');
        const songNameInput = document.querySelector('.song-name');
        const authorNameInput = document.querySelector('.author-name');
        const songTextInput = document.querySelector('.textarea');
        let instrumentNameInput = '';

        optionButtons.forEach(button => {
          button.addEventListener('click', () => {
            optionButtons.forEach(button => {
              button.classList.remove('active');
            });
            button.classList.add('active');
            instrumentNameInput = button.innerHTML;
            checkValidity();
          });
        });

        function checkValidity() {
          if (songNameInput.value !== '' && authorNameInput.value !== '' && songTextInput.value !== '' && instrumentNameInput) {
            submitButton.disabled = false;
          } else {
            submitButton.disabled = true;
          }
        }

        songNameInput.addEventListener('input', checkValidity);
        authorNameInput.addEventListener('input', checkValidity);
        songTextInput.addEventListener('input', checkValidity);
        form.addEventListener('submit', validateForm);

    </script>
            

  </body>
</html>