<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='logo1.jpg') }}" type="image/x-icon">


    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Sign in</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <!-- <h3>Sign in</h3> -->
            <p>Sign in with your username and password</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Your username</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            {% if troubles =='user' %}
            <div class="mistake">
                <label for="user-prob"><b>Invalid user</b></label>          
                </div>
            {% endif %}

            <br>

            <!-- Password -->
            <label for="pswrd">Your password</label>
            <input type="password" placeholder="Enter Password" name="pswrd" required>
            {% if troubles =='pswrd' %}
            <div class="mistake">
                <label for="pwd-prob"><b>Invalid password</b></label>          
                </div>
            {% endif %}

            <!-- sub container for the checkbox and forgot password link -->
            <br>


            <!-- Submit button -->
            <button type="submit">Login</button>

            <!-- Sign up link -->
            <p class="register">Not a member?  <a href="{{ url_for('register') }}">Register here!</a></p>
            <br>
            <p class="register">Go to main page <a href="{{ url_for('welcome') }}">here</a></p>

        </div>

    </form>
</body>
</html>
