<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
  </head>
  <body>
    <form action="{{ url_for('register') }}" method="POST">
        <div class="container">
          <h1>Register</h1>
          <p>Fill in this form to register.</p>
          <label for="username"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter username"
            name="username"
            id="username"
            required
          />
          {% if troubles and troubles[0] == 0 %}
          <div class="mistake">
          <label for="username-prob"><b>Invalid user</b></label>          
          </div>
          {% endif %}
          <label for="email"><b>Email</b></label>
          <input
            type="text"
            placeholder="Enter Email"
            name="email"
            id="email"
            required
          />
          {% if troubles and troubles[1] == 0 %}
          <div class="mistake">
            <label for="email-prob"><b>Invalid email</b></label>          
        </div>
        {% endif %}
  
          <label for="pwd"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="pwd"
            id="pwd"
            required
          />
          {% if troubles and troubles[2] == 0 %}
          <div class="mistake">
            <label for="password-prob"><b>Password must contain...</b></label>          
            </div>
            {% endif %}
          <label for="pwd-repeat"><b>Repeat Password</b></label>
          <input
            type="password"
            placeholder="Repeat Password"
            name="pwd-repeat"
            id="pwd-repeat"
            required
          />
          {% if troubles and troubles[3] == 0 %}
          <div class="mistake">
            <label for="pwd-repeat-prob"><b>Passwords do not match</b></label>          
            </div>
          {% endif %}
  
          <button type="submit">Register</button>
        </div>
       <!-- wrapping the text inside the p tag with a tag for routing to the login page URL-->
        <!-- the # must ideally be replaced by the login page URL -->
        <div class="login">
          <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a>.</p>
        </div>
      </form>
  
  </body>
</html>
