<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/b561b2708c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>Songs</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='songs_choice.css') }}">
  </head>
  <body>

    <header>
        <nav>
    <div class="wrap">
      <div class="menu">
        <ul>
          <li><a href="{{ url_for('about') }}">ABOUT US</a> </li>
          <li><a href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
          <li><a href="{{ url_for('create') }}">CREATE!</a> </li>
        </ul>


      </div>
    </div>
    </nav>
    </header>
 
    <div class="searching">
    <div class="wrap-search">
      <form method="post" action="{{ url_for('search') }}">
      <div class="search">
        <input type="text" name="query" class="searchTerm" placeholder="Search...">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
        </form>
      </div>


    </div>
    </div>
    <!-- <div class="filter">
        <select id="filter">
            <option value="all">All</option>
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
          </select>

    </div> -->
    <div class="song_choice">
        <div class="filters">
            <div id="filter">
                <h3>Instruments</h3>
                <form method="post" action="{{ url_for('search') }}">
                <label>
                <input type="checkbox" name="search_option1" value="guitar">
                Guitar
                </label>
                <label>
                <input type="checkbox" name="search_option2" value="piano">
                Piano
                </label>
                <label>
                <input type="checkbox" name="search_option3" value="ukulele">
                Ukulele
                </label>
                <label>
                <input type="checkbox" name="search_option4" value="kalimba">
                Kalimba
                </label>
                <label>
                <input type="checkbox" name="search_option5" value="drums">
                Drums
                </label>
                </form>

                <h3>Categories</h3>
                <form method="post" action="{{ url_for('search') }}"></form>
                <label>
                    <input type="checkbox" name="category1" value="chords">
                    Chords
                    </label>
                    <label>
                    <input type="checkbox" name="category2" value="tabs">
                    Tabs
                    </label>
                  </form>
            </div>
            </div>
      <!-- <div id="content">
        <div class="item category1">Item 1</div>
        <div class="item category2">Item 2</div>
        <div class="item category3">Item 3</div>
        <div class="item category1">Item 4</div>
        <div class="item category2">Item 5</div>
        <div class="item category3">Item 6</div>
      </div> -->

      <div class="content">
        {% for object in results %}
            <div class="song">
                <div class="song-name"><a href="/object/{{ object.id }}">{{ object.title }} - {{ object.author }}</a></div>
            </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>