<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/b561b2708c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Songs</title>
    <link rel="icon" href="{{ url_for('static', filename='logo3.jpg') }}" type="image/x-icon">


    <link rel="stylesheet" href="{{ url_for('static', filename='songs_choice.css') }}">
  </head>
  <body>

    <header>
        <nav>
    <div class="wrap">
      <div class="menu">
        <ul>
          <li><a href="{{ url_for('about') }}">ABOUT US</a> </li>
          <li><a href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
          <li><a href="{{ url_for('create') }}">CREATE!</a> </li>
        </ul>


      </div>
      {% if log == 0 %}  
      <div class="login">
        <a href="{{ url_for('login') }}">LOG IN!</a>
      </div>
      {% else %}
      <div class="login">
        <div class="dropdown">
          <button class="dropbtn">{{ session.username }}</button>
          <div class="dropdown-content">
            <a href="{{ url_for('logout') }}">Log out</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    </nav>
    </header>
    <form method="POST" action="{{ url_for('search') }}">
    <div class="searching">
    <div class="wrap-search">
        <div class="search">
          <input type="text" name ="query" class="searchTerm" placeholder="Search...">
          <button type="submit" name = 'search' class="searchButton">
            <i class="fa fa-search"></i>
          </button>
      </div>


    </div>
    </div>

    
    <div class="song_choice">
        <div class="filters">
            <div id="filter">
                <h3>Instruments</h3>
                <label for="checkbox_guitar">
                <input type="checkbox" id="checkbox_guitar" name="instrument_checkbox" value="guitar">
                Guitar
                </label>
                <label for="checkbox_piano">
                <input type="checkbox" id="checkbox_piano" name="instrument_checkbox" value="piano">
                Piano
                </label>
                <label>
                <input type="checkbox" id="checkbox_ukulele" name="instrument_checkbox" value="ukulele">
                Ukulele
                </label>
                <label>
                <input type="checkbox" id="checkbox_kalimba" name="instrument_checkbox" value="kalimba">
                Kalimba
                </label>
                <label>
                <input type="checkbox" id="checkbox_drums" name="instrument_checkbox" value="drums">
                Drums
                </label>

                <h3>Categories</h3>
                <label>
                    <input type="checkbox" id="checkbox_chords" name="categories" value="chords">
                    Chords
                    </label>
                    <label>
                    <input type="checkbox" id="checkbox_tabs" name="categories" value="tabs">
                    Tabs
                    </label>
                    <p>* Press the search button to apply your filters and text request</p>
            </div>
            </div>

      </form>
      <div class="content">
        {% if results %}
        {% for object in results %}
            <div class="song">
                <div class="song-name"><a href="{{ url_for('object_detail', object_id=object._id) }}">{{ object.title }} - {{ object.author }}</a></div>
           
            <div class="song-info">
              <h4>{{ object.instrument }}</h4>
              <h4>{{ object.categories }}</h4>
            </div>
           </div>
        {% endfor %}
        {% else %}
            <p>Nothing found</p>
        {% endif %}
        <!-- <div class="pagination-btn">
          <a class="btn" href="#"><i class="fa-solid fa-angles-left fa-2xl" style="color: #000000;"></i></a>
          <p>1</p>
          <a class="btn" href="#"><i class="fa-solid fa-angles-right fa-2xl" style="color: #000000;"></i></a>
        </div> -->

      </div>

    </div>


    
  </body>
</html>