<!DOCTYPE html>
<html>
  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>{{ object.title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='song_pg.css') }}">
  </head>
  <body>
    <header>
      <nav>
  <div class="wrap">
    <div class="menu">
      <ul>
        <li><a href="{{ url_for('about') }}">ABOUT US</a> </li>
        <li><a href="{{ url_for('welcome') }}"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
        <li><a href="{{ url_for('create') }}">CREATE!</a> </li>
      </ul>


    </div>
  </div>
  </nav>
  </header>

  <div class="song">
    <h3>{{ object.title }} - {{ object.author }}</h3>
        <div class="text">
        {% for line in object.text %}
        <p>{{ line }}</p>
        {% endfor %}
        </div>
  </div>
  </body>
</html>