<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/b561b2708c.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <title>Welcome to Note!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    
  </head>
  <body>
    <header>
      <nav>
  <div class="wrap">
    <div class="menu">
      <ul>
        <li><a href="{{ url_for('about') }}">ABOUT US</a> </li>
        <li><a href="#"><img src="{{ url_for('static', filename='logo1.jpg') }}" alt="Logo" class="logo-image"></a> </li>
        <li><a href="{{ url_for('create') }}">CREATE!</a> </li>
      </ul>


    </div>
  </div>
  </nav>
  </header>

  <div class="searching">
  <div class="wrap-search">
    <div class="search">
      <form method="GET" action="/search">
      <input type="text" name = 'query' class="searchTerm" placeholder="Search...">
      <button type="submit" name = 'search' class="searchButton">
      </form>
        <i class="fa fa-search"></i>
      </button>
    </div>


  </div>
  </div>



    <div class="container">
      <div class="row">
        <form method="GET" action="/search">
        <button  data-filter=".categorie1" name="instrument" value="guitar" class="btn guitar" onclick="window.location.href='songs_choice.html#guitar'">
          <span class="btn-text">Guitar</span>

        </button>
        <button class="btn kalimba" name="instrument" value="kalimba" onclick="window.location.href='songs_choice.html#kalimba'">
          <span class="btn-text">Kalimba</span>

        </button>
        <button class="btn piano" name="instrument" value="piano" onclick="window.location.href='songs_choice.html#piano'">
          <span class="btn-text">Piano</span>

        </button>
      </div>
      <div class="row">
        <button class="btn drums" name="instrument" value="drums" onclick="window.location.href='songs_choice.html#drums'">
          <span class="btn-text">Drums</span>

        </button>
        <button class="btn ukulele" name="instrument" value="ukulele" onclick="window.location.href='songs_choice.html#ukulele'">
          <span class="btn-text">Ukulele</span>

        </button>
        </form>
      </div>
    </div>

  </body>
</html>